/* main */

.main {
    display: flex;
    flex-flow: column;
}

.main > .main__wrapper {
    display: flex;
    flex-flow: column;
    padding: 0 calc(50% - 720px);
}

.main > .main__wrapper > .main__wrapper--intro {
    padding: 0 calc(50% - 720px);
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-1 {
    min-height: 335px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-1 > h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 78px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -4px;
    text-align: center;
    background-image: url(../photos/1.svg);
    background-repeat: no-repeat;
    background-position-x: 795px;
    background-position-y: 265px;
    position: relative;
    left: 0px;
    top: 26px;
    min-height: 287px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 100px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-2 > button {
    gap: 4px;
    width: 180px;
    height: 48px;
    border-radius: 7.29px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
    color: var(--solid-white);
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-2 > button:hover {
    filter: opacity(0.7);
    transition: all 0.3s linear;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-2 > button.main__wrapper--intro--block-2--btn-1 {
    background: #393953;
    border-color: #393953;
    position: relative;
    left: -17px;
    top: -2px;
}
.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-2 > button.main__wrapper--intro--block-2--btn-2 {
    background: #6966FF;
    border-color: #6966FF;
    position: relative;
    left: 16px;
    top: -2px;
    padding: 0px 24px 0px 0px;
    background-image: url(../photos/fi_arrow-right.svg);
    background-repeat: no-repeat;
    background-position-x: 140px;
    background-position-y: 14px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 100px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-3 > div {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 284px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-3 > div > h2 {
    font-family: Space Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    height: 6px;
    position: relative;
    left: 0px;
    top: 10px;
}

.main > .main__wrapper > .main__wrapper--intro > .main__wrapper--intro--block-3 > div > p {
    font-family: Space Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.main > .main__wrapper > .main__wrapper--down-arrow {
    margin: 0 auto;
    min-height: 160px;
    position: relative;
    left: -2px;
    top: 59px;
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 269px;
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.022em;
    text-align: center;
    position: relative;
    left: 2px;
    top: -5px;
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants > p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.014em;
    text-align: center;
    position: relative;
    left: -2px;
    top: -41px;
    padding: 0 calc(50% - 314px);
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants > a {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    text-decoration: none;
    color: #6966FF;
    position: relative;
    left: 0px;
    top: -41px;
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants > a:hover {
    color: red;
    transition: all 0.3s linear;
}

.main > .main__wrapper > .main__wrapper--projects-built-with-grants > a > img {
    position: relative;
    left: 6px;
    top: 6px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants {
    display: flex;
    flex-flow: column;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block {
    display: flex;
    flex-flow: row;
    overflow-x: hidden;
    padding-left: 20px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div {
    display: flex;
    flex-flow: column;
    min-width: 392px;
    min-height: 560px;
    float: left;
    padding: 0px;
    background: #393953;
    border-radius: 16px;
    margin-right: 24px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div:nth-child(odd) {
    height: 480px;
    position: relative;
    left: 0px;
    top: 0px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div > p:nth-child(odd) {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #A59EBA;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div > p:nth-child(even) {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div {
    padding: 0 calc(50% - 165px);
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div:nth-child(even) > .main__wrapper--rewards-grants--block--avatars-block--img-1 {
    position: relative;
    left: 0px;
    top: 0px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div:nth-child(even) > .main__wrapper--rewards-grants--block--avatars-block--img-2 {
    position: relative;
    left: -32px;
    top: 2px;
}

.main > .main__wrapper > .main__wrapper--rewards-grants > .main__wrapper--rewards-grants--block > div > div:nth-child(even) > .main__wrapper--rewards-grants--block--avatars-block--img-3 {
    position: relative;
    left: -64px;
    top: 2px;
}

.main > .main__wrapper > .main__wrapper--whats-new {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 334px;
    font-family: 'Poppins', sans-serif;
    background-image: url(../photos/sticks.svg);
    background-repeat: no-repeat;
    background-position-x: 826px;
    background-position-y: 107px;
}

.main > .main__wrapper > .main__wrapper--whats-new > h3 {
    position: relative;
    left: 0px;
    top: 55px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.022em;
    text-align: center;
}

.main > .main__wrapper > .main__wrapper--whats-new > p.main__wrapper--whats-new--p, a.main__wrapper--whats-new--a {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.014em;
    text-align: center;
}

.main > .main__wrapper > .main__wrapper--whats-new > p {
    position: relative;
    left: 0px;
    top: 17px;
    padding: 0 calc(50% - 357px);
    color: #C8C7D8;
}

.main > .main__wrapper > .main__wrapper--whats-new > a {
    position: relative;
    left: -11px;
    top: 23px;
    color: #6966FF;
    text-decoration: none;
    background-image: url(../photos/fi_arrow-right2.svg);
    background-repeat: no-repeat;
    background-position-x: 236px;
    background-position-y: 1px;
    width: 283px;
}

.main > .main__wrapper > .main__wrapper--whats-new > a:hover {
    color: red;
    transition: all 0.3s linear;
}