/* main */

.main {
    display: flex;
    flex-flow: column;
}

.main > div {
    padding: 0 calc(50% - 391px);
    margin-top: 60px;
}

.main > div > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main > div > div > div.main__wrapper--intro-container--block-1 > h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    position: relative;
    left: 0px;
    top: -31px;
}

.main > div > div > div.main__wrapper--intro-container--block-2 {
    margin: 0 auto;
    position: relative;
    left: 0px;
    top: -35px;
}

.main > div > div > div.main__wrapper--intro-container--block-2 > a {
    padding: 12px 28px;
    gap: 4px;
    width: 180px;
    height: 48px;
    border-radius: 7.29px;
    text-decoration-line: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.main > div > div > div.main__wrapper--intro-container--block-2 > a:hover {
    filter: opacity(0.7);
    transition: all 0.3s linear;
}

.main > div > div > div.main__wrapper--intro-container--block-2 > a:nth-child(odd) {
    background: #393953;
}

.main > div > div > div.main__wrapper--intro-container--block-2 > a:nth-child(even) {
    background: #6966FF;
}

.main > div > div > div.main__wrapper--intro-container--block-3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.main > div > div > div.main__wrapper--intro-container--block-3 > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 33px 52px;
    color: white;
}

/* footer */

.footer {
    display: flex;
    flex-flow: column;
}